<%# The restaurant show page should include the restaurant's name (eg. PizzArte),
 its address, and a list of the pizzas it sells. The pizza should link to that pizza's show page. %>

<h1> Here is <%= @restaurant.name %> </h1>
<h1> Address: <%= @restaurant.address %> </h1>

<h1>Pizzas</h1>

<% Restaurant.all.each do |r| %>

<%= link_to r.pizzas.name, pizza_path(r)%><br>
<% end %>
